  /*font-family: 'Open Sans', sans-serif;
        font-family: 'Amatic SC', cursive;
        green: #A2CA97
        blue: #04ADBF
        gray: #333 */
        
header, nav, footer, section, article, aside, audio, video, main, figure, {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FEFDF9;
    margin: 0 auto;
}

h1 {
    font-family: 'Amatic Sc', serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

h2 {
    font-family: "Amatic SC", Serif;
    font-size: 2.25em;
    font-weight: bold;
    padding: .5em .5em 0;
    text-align: left;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

p {
    font-size: 1em;
}

article {
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
    text-align: left;
    display: block;
}

article > img {
    width: 90%;
    max-width: 138px;
    border-radius: 5%;
}

header > img {
    width: 100%;
    height: auto;
    opacity: .5;
}

#pageContent {
    margin: 0 auto;
    max-width: 2000px;
    padding: 0 1em 1em;
}

.hero h1 {
    font-family: 'Amatic Sc', serif;
    font-weight: bold;
    font-size: 100px;
    margin: 0;
}
        
#pageTitle h1 {
    text-align: center;
}
        
#pageTitle p {
    font-weight: normal;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

/*HEADER NAV STYLING HERE*/
.mainNav {
    background-color: #A2Ca97;
    padding: .5em .5em;
    overflow: hidden;
    display: block;
}
        
.mainNav ul {
    list-style-type: none;
    display: none;
    justify-content: space-around;
    margin: auto;
    max-width: 960px;
    text-align: center;
}

.mainNav a {
    text-decoration: none;
    color: #000;
    font-size: 3.25em;
    display: block;
}

.mainNav a:visited {
    color: #7A9871;
}

.mainNav a:hover {
    color: #fff;
}

.mainNav img {
    max-height: 100px;
}

.mainNav a.icon {
    display: block;
    position: absolute;
    margin-top: 25px;
    right: 0;
    top: 0;
}


/*END HEADER NAV STYLING*/
        
.hero {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../images/hero/home-80.jpg) no-repeat center;
    background-color: #9BDEE5;
}
        
#pageTitle {
    padding: 6em 0;
}

article :not(h2) {
    margin: 0 2em;
}

.events {
    list-style-type: none;
}

#styleLogo img {
    padding-top: 1em;
}
#styleColor p {
    padding: 0 0 .5em 0;
    text-align: left;
}

.box {
    max-width: 80px;
    min-height: 80px;
    border: 1px solid #000;
}
        .green {background-color: #A2CA97;}
        
        .blue {background-color: #04ADBF;}
        
        .darkGreen {background-color: #7a9871;}

        .lightBlue {background-color: #9BDEE5;}

        .black {background-color: #000;}
        
        .gray {background-color: #333;}
        
        .white {background-color: #fff;}

#styleTypography li {
    list-style-type: none;
    font-size: 2em;
    display: inline-block;
}

#typeface {
    font-family: 'Amatic SC', serif;
    font-weight: bold;
}

button {
    border: none;
    text-decoration: none;
    border-radius: 5%;
    padding: .5em 1em;
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

a {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

button:active {
    background-color: #999;
}

#banner div{
    background: url(../images/home/banner.png) repeat;
    width: 75%;
    height: 500px;
}

/*FOOTER STYLING HERE*/

footer {
	background-color: #04ADBF;
	padding-top: 10px;
	padding-left: 15px;
	color: #fff;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
}

.footerGroup {
	order: -1;
}

#contactInfo {
	text-align: center;
}

#copyright {
    text-align: center;
    margin: 0 auto;
    font-size: .75em;
}

#copyright img {
    width: 5em;
	height: auto;
}

.bannerPattern {
    background: url(../images/home/banner.png) repeat;
    background-color: #04ADBF;
}



/*BEGIN MEDIA QUERY LARGE SCREEN*/

@media screen and (min-width: 700px) {
    
    .hero {
        background: url(../images/hero/home-80.jpg) no-repeat center;
        background-color: #9BDEE5;
    }
	
	main > #content {
	display: grid;
	grid-gap: 15px;
	grid-template-areas: 
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k"
		"j j j k k k k k k k k k";
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 1fr);
	}
	
/*
	#content > aside.sidebar {
		grid-area: j;
		width: 30%;
	}
*/
	
	.mainContent {
		width: 50%;
	}
	#content > .productRow {
		grid-area: k;
		width: 50%;
	}
	
	footer {
    background-color: #04ADBF;
	padding-left: 5em;
	padding-top: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
        "h h h h g g g g g g g g"
        "s s s s g g g g g g g g"
        "p p p p i i i i i i i i"
        "y y y y i i i i i i i i"
        "n n n n i i i i i i i i"
        "o o o o i i i i i i i i"
        "u u u u i i i i i i i i"
        "e e e e i i i i i i i i"
        "a a a a r r r r . . . ."
        "c c c c r r r r . . . ."
     ;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 1fr);
	color: #fff;
	font-size: 1.5em;
}

footer > .home {
    grid-area: h;
}

.home a {
	text-decoration: none;
	color: #fff;
}

footer > .shop {
    grid-area: s;
}

.shop a {
	text-decoration: none;
	color: #fff;
}

footer > .patterns {
    grid-area: p;
}

.patterns a {
	text-decoration: none;
	color: #fff;
}

footer > .yarn {
    grid-area: y;
}

.yarn a {
	text-decoration: none;
	color: #fff;
}

footer > .needles {
    grid-area: n;
}

.needles a {
	text-decoration: none;
	color: #fff;
}

footer > .notions {
    grid-area: o;
}

.notions a {
	text-decoration: none;
	color: #fff;
}

footer > .supplies {
    grid-area: u;
}

.supplies a {
	text-decoration: none;
	color: #fff;
}

footer > .events {
    grid-area: e;
}

.events a {
	text-decoration: none;
	color: #fff;
}

footer > .about {
    grid-area: a;
}

.about a {
	text-decoration: none;
	color: #fff;
}

footer > .contact {
    grid-area: c;
}

.contact a {
	text-decoration: none;
	color: #fff;
}

footer > .footerGroup {
    grid-area: g;  
}

#searchbar > input {
	width: 20em;
	height: 2.5em;
}

footer > #contactInfo {
    grid-area: i;
	text-align: left;
}

footer > #copyright {
    grid-area: r;
}

footer > .shopList {
    padding-left: 50px;
    
}
}
